.imgSection {
  padding-bottom: 0;
}

.description {
  width: 65%;
}

.other {
  width: 25%;
}

.color {
  color: #0D1B2A !important;
}

.sliderWidth {
  width: 95%;
  height: 35rem;
}

.singleImage {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.paddingSkill {
  padding-bottom: 2rem;
}