.image {
  border-radius: 1.25rem;
  width: 240%;
  height: 100%;
  margin-right: 5rem;
}

.sectionBlue {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #8699B2;
  width: 100%;
}

.sectionBlueWidht {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.titleWhite {
  color: #fafafa !important;
}