.image {
  border-radius: 1.25rem;
  width: 100%;
  height: 100%;
  margin-right: 4rem;
  max-width: 420px;
}

.firstSection {
  align-items: center;
}

.firstSectionText{
  width: 120%;
}

.titles h1, .titles h2 {
  margin: 0;
}

.titles h1 {
  margin-bottom: 0.5rem;
  font-size: 5rem;
  color: #415A77;
}

.titles h2 {
  font-size: 3rem;
  color: #8699B2;
}

.sectionBlue {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #8699B2;
  width: 100%;
}

.sectionBlueWidht {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
}

.titleWhite {
  color: #fafafa !important;
}