header {
  display: flex;
  justify-content: center;
  background-color: #0D1B2A;
  position: sticky;
  top: 0;
  z-index: 100;
}

a {
  text-decoration: none;
  color: #E0E1DD;
}

@font-face {
  font-family: 'Candara';
  src: url('../../fonts/candara-font-family/Candara_Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

nav a {
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1.25rem;
}

.navStar {
  margin-right: 0.5rem;
}

.name {
  font-family: 'Candara', sans-serif;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding-left: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90rem;
  padding: 1rem;
}

.navRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
}

.activeNav {
  background-color: #8699B2;
  color: #1B263B;
  transition: 0.6s;
}

@media (max-width: 1600px) {
  .nav {
    width: 86.25rem;
  }
}

@media (max-width: 1400px) {
  .nav {
    width: 73.75rem;
  }
}

@media (max-width: 1200px) {
  .nav {
    width: 60rem;
  }
}

@media (max-width: 992px) {
  .nav {
    width: 46.25rem;
  }
}

@media (max-width: 768px) {
  .nav {
    width: 36.25rem;
  }
}

@media (max-width: 600px) {
  .nav {
    width: 28.75rem;
  }
}

@media (max-width: 480px) {
  .nav {
    width: 20rem;
  }
}