header {
  display: flex;
  justify-content: center;
  background-color: #0D1B2A;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: #E0E1DD;
}

@font-face {
  font-family: 'Candara';
  src: url('../../fonts/candara-font-family/Candara_Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.name {
  font-family: 'Candara', sans-serif;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.activeNav {
  background-color: #8699B2;
  color: #1B263B;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1.25rem;
}

.navRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12rem;
}