.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 80%;
}

.card {
  background-color: #E0E1DD;
  width: 22%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-radius: 1.25rem;
}