.titleTop {
  padding-top: 4rem;
}

.cards, .lastCards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 80%;
}

@media (min-width: 1842px) {
  .cards, .lastCards {
    width: 60%;
  }
}

.lastCards {
  padding-bottom: 4rem;
}

.mySwiper {
  height: 10rem;
}
