.titleTop {
  padding-top: 4rem;
}

.cards, .lastCards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 80%;
}

.lastCards {
  padding-bottom: 4rem;
  width: 60%;
}

.mySwiper {
  height: 14rem;
}

@media (min-width: 1842px) {
  .cards {
    width: 60%;
  }

  .lastCards {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .mySwiper {
    height: 12rem;
  }

  .lastCards {
    width: 80%;
  }
  
}
