footer {
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: #0D1B2A;

}

footer p {
  color: #E0E1DD !important;
}

.footerAlign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90rem;
  padding: 1rem;
}

.footerLeft {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}

.activeNav {
  color: #8699B2;
  font-weight: bold;
}

@media (max-width: 1600px) {
  .footerAlign {
    width: 86.25rem;
  }
}

@media (max-width: 1400px) {
  .footerAlign {
    width: 73.75rem;
  }
}

@media (max-width: 1200px) {
  .footerAlign {
    width: 60rem;
  }
}

@media (max-width: 992px) {
  .footerAlign {
    width: 46.25rem;
  }
}

@media (max-width: 768px) {
  .footerAlign {
    width: 36.25rem;
  }
}

@media (max-width: 600px) {
  .footerAlign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28.75rem;
  }

  
  .footerAlign p {
    margin-bottom: 0;
  }
  
  .footerLeft {
    display: none;
  }
}

@media (max-width: 480px) {
  .footerAlign {
    width: 20rem;
  }
}