footer {
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: #0D1B2A;
  padding: 1rem;
}

footer p {
  color: #E0E1DD !important;
}

.footerAlign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

@media (min-width: 1842px) {
  .footerAlign {
    width: 60%;
  }
}


.footerLeft {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}

.activeNav {
  color: #8699B2;
  font-weight: bold;
}